extends ../../../../../_layouts/management

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../../'
  - page = 'pages/gestion/clasificacion-expedientes/detalle-documento/crear-expediente'


block management
  p pages/gestion/clasificacion-expedientes/detalle-documento/crear-expediente page
