extends ../../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../../'
  - page = 'pages/gestion/busqueda-general/detalle-expediente/agregar-documentos'

block common
  p pages/gestion/busqueda-general/detalle-expediente/agregar-documentos page
