extends ../../../../../_layouts/admin

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../../'
  - page = 'pages/administracion/secciones/nueva-seccion'


block admin
  p pages/administracion/secciones/nueva-seccion page
