extends ../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/administracion/estilos'

block common
  p pages/administracion/estilos page
