extends ../../../../_layouts/management

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/gestion/historial-transferencia/detalle-transferencia'


block management
  p pages/gestion/historial-transferencia/detalle-transferencia page
