extends ../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/gestion/historial-transferencia/detalle-transferencia'

block common
  p pages/gestion/historial-transferencia/detalle-transferencia page
