extends ../../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../../'
  - page = 'pages/gestion/registro-control/nuevo-registro/agregar-documento'

block common
  p pages/gestion/registro-control/nuevo-registro/agregar-documento page
