extends ../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/gestion/bitacora-prestamo'

block common
  p pages/gestion/bitacora-prestamo page
