extends ../../../_layouts/admin

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/administracion/ubicacion'


block admin
  p pages/administracion/ubicacion page
