extends ../../../../_layouts/admin

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/administracion/estilos/nuevo-estilo'


block admin
  p pages/administracion/estilos/nuevo-estilo page
