
// variables
@import 'sandstone-efile/variables';

// bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// estructure
@import 'sandstone-efile/bootswatch';

// Import Modules




// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
