extends ../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/administracion/alta-baja/ubicacion'

block common
  p pages/administracion/alta-baja/ubicacion page
