extends ../../../_layouts/management

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/gestion/carga-masiva'


block management
  p pages/gestion/carga-masiva page
