extends ../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/gestion/carga-masiva'

block common
  p pages/gestion/carga-masiva page
