extends _layouts/common

include _modules/link/link

block common
  .container
    .yeogurt-info
      h1 Welcome to Yeogurt!
      p.
        Take a look at the
        #[+link({text: 'documentation'})(href='https://github.com/joneldiablo/generator-yeogurt#yeogurt-generator---')]
        and start mixing up something awesome.
      p
        img.logo(src="assets/images/yeogurt-swirl.png", width="75px")
    -
      const PATH = require('path');
      const dirTree = require('directory-tree');
      let output = [];
      
      const tree = dirTree('./src/pages');
      buble([tree]);
      function buble(children){
        for(let i in children){
          let page = children[i].path.replace(/\\/g,'/').replace(/^(\.\/)?src/,'').replace(/^\//,'').replace('pug','html');
          if(children[i].type === "directory" && page!=='pages'){
            output.push(page);
          }
          if(children[i].children){
            buble(children[i].children);
          }
        }
      }
    ul
      each path in output
        li
          a(href=baseUrl + path, title=path)= path
      
    
      
  code.version v2.1.0
