extends _layouts/common

block common
  .container
    -
      const PATH = require('path');
      const dirTree = require('directory-tree');
      let output = [];
      
      const tree = dirTree('./src/pages');
      buble([tree]);
      function buble(children){
        for(let i in children){
          let page = children[i].path.replace(/\\/g,'/').replace(/^(\.\/)?src/,'').replace(/^\//,'').replace('pug','html');
          if(children[i].type !== "directory"){
            output.push(page);
          }
          if(children[i].children){
            buble(children[i].children);
          }
        }
      }
    ul
      each path in output
        li
          a(href=baseUrl + path, title=path)= path

