extends ../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/gestion/bitacora-prestamo/detalle-expediente'

block common
  p pages/gestion/bitacora-prestamo/detalle-expediente page
