extend ./common

block append config
  - management = true

block common
  //- Provides layout level markup
  .layout-wrapper.management
    block management
block menu-secondary
  div.list-group.list-group-flush.border-bottom
    each elem in site.data.menu.management
      a.list-group-item(href=baseUrl + elem.href class={active:!page.search(elem.href)})= elem.label

