extends ../../../_layouts/management

include ../../../_modules/pug-components/form-field/form-field
include ../../../_modules/search-filters/search-filters

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/gestion/busqueda-general'


block management
  .row.py-4
    .col-sm-8.col-lg-10
      +form-field({
        type: "input-group-icon",
        name: "search",
        igi: {
          type: "text",
          icon: "icon-search"
        }
      })
      +search-filters
      nav.nav.nav-pills.nav-fill
        a.nav-item.nav-link.active(href='#') Todos
        a.nav-item.nav-link(href='#') Tr치mite
        a.nav-item.nav-link(href='#') Concentraci칩n
        a.nav-item.nav-link(href='#') Concervaci칩n
        a.nav-item.nav-link(href='#') Eliminaci칩n


    .col-sm-4.col-lg-2
      .dropdown
        button#dropdownMenuButton.btn.btn-outline-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Opciones
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
