extends ../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../'
  - page = 'pages/gestion/busqueda-general'

block common
  p pages/gestion/busqueda-general page
