extends ../../../../_layouts/management

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/gestion/registro-control/detalle-documento'


block management
  p pages/gestion/registro-control/detalle-documento page
