extends ../../../../_layouts/common

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../../../../'
  - page = 'pages/gestion/registro-control/detalle-documento'

block common
  p pages/gestion/registro-control/detalle-documento page
